section {
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
}

.coins {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
} 

.coin {
    height: 75px;
    width: 75px;
    color: black;
    padding: 20px;
    margin: 10px;
    display: none;
    border-radius: 50%;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.penny {
    width: 30px;
    height: 30px;
    background-color: chocolate;
}

.dime {
    width: 20px;
    height: 20px;
    background-color: silver;
}

.nickel {
    width: 50px;
    height: 50px;
    background-color: silver;
}

.quarter {
    background-color: silver; 
}

.bulbStyle {
    height: 50px;
    width: 150px;
    background-color: gray;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 5px;
}

.light-on {
    background-color: yellow;
    color: orange;
}